<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<form class="contact-bx dzForm" method="POST">
		<div class="dzFormMsg"></div>
			<div class="heading-bx left">
									 <b><h1 class="title-head">Customer <span></b>Feedback</span></h1>
									<p>We'd like to hear from you!</p>
								</div>
								<div class="row placeani" id="sent">
									<div class="col-lg-12">
										<div class="form-group">
											<label>Name</label>
											<div class="input-group">
												<input name="name" type="text" class="form-control" minlength="3" maxlength="70" required>
											</div>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<label>Age</label><div class="input-group">
												<input name="age" type="number" class="form-control" minh="1" maxh="500" required>
											</div>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<label>&nbsp;&nbsp;&nbsp;&nbsp;Gender: </label><br><div style="height: 10px;"> </div>
											<span class="container">
											  <span class="checkmark"></span><input type="radio" name="gender" required value="Male">&nbsp;&nbsp;Male
											</span>
											<span class="container">
											  <span class="checkmark"></span><input type="radio" name="gender" value="Female">&nbsp;&nbsp;Female
											</span>
										</div>
									</div>
									<div class="col-lg-4">
										<div class="form-group">
											<label>Email</label><div class="input-group"> 
												<input name="email" type="email" class="form-control" minlength="3" maxlength="50" required>
											</div>
										</div>
									</div>
									<div class="col-lg-12">
										<div class="form-group">
											<label>Previous Product Subscription</label>
											<select class="form-control" name="prev_sub" id="prev_sub" required style="color: black!important;">
												<option value="Liberty Auto Insurance Plan A">Liberty Auto Insurance Plan A</option>
												<option value="Liberty Auto Insurance Plan B">Liberty Auto Insurance Plan B</option>
												<option value="Liberty Auto Insurance Plan C">Liberty Auto Insurance Plan C</option>
											</select>
										</div>
									</div>


									<div class="table-responsive">
										<table id="table" class="table hover" style="width:100%">
											<thead>
												<tr>
													<th width="800"><center>Product and Services</center></th>
													<th><center>Strongly<br>Agree</center></th>
													<th><center>Agree</center></th>
													<th><center>Somewhat<br>Agree</center></th>
													<th><center>Disagree</center></th>
													<th><center>Strongly<br>Disagree</center></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Do you think  that Liberty Insurance Corporation’s branch location is in a convenient place?</td>
													<td><center><input type="radio" name="q1" required value="1"></center></td>
													<td><center><input type="radio" name="q1" required value="2"></center></td>
													<td><center><input type="radio" name="q1" required value="3"></center></td>
													<td><center><input type="radio" name="q1" required value="4"></center></td>
													<td><center><input type="radio" name="q1" required value="5"></center></td>
												</tr>
												<tr>
													<td>How would you rate Liberty Insurance Corporation customer service and courtesy?</td>
													<td><center><input type="radio" name="q2" required value="1"></center></td>
													<td><center><input type="radio" name="q2" required value="2"></center></td>
													<td><center><input type="radio" name="q2" required value="3"></center></td>
													<td><center><input type="radio" name="q2" required value="4"></center></td>
													<td><center><input type="radio" name="q2" required value="5"></center></td>
												</tr>
												<tr>
													<td>How will you categorize Liberty Insurance Corporation in product, cost, accessibility and service?</td>
													<td><center><input type="radio" name="q3" required value="1"></center></td>
													<td><center><input type="radio" name="q3" required value="2"></center></td>
													<td><center><input type="radio" name="q3" required value="3"></center></td>
													<td><center><input type="radio" name="q3" required value="4"></center></td>
													<td><center><input type="radio" name="q3" required value="5"></center></td>
												</tr>
												<tr>
													<td>Do you find the company's products and services relevant?</td>
													<td><center><input type="radio" name="q4" required value="1"></center></td>
													<td><center><input type="radio" name="q4" required value="2"></center></td>
													<td><center><input type="radio" name="q4" required value="3"></center></td>
													<td><center><input type="radio" name="q4" required value="4"></center></td>
													<td><center><input type="radio" name="q4" required value="5"></center></td>
												</tr>
											</tbody>
										</table>
									</div>

									<div class="table-responsive">
										<table id="table" class="table hover" style="width:100%">
											<thead>
												<tr>
													<th width="800">How will you categorize Liberty Insurance Corporation in product, cost, accessibility and service?</th>
													<th><center>Strongly<br>Agree</center></th>
													<th><center>Agree</center></th>
													<th><center>Somewhat<br>Agree</center></th>
													<th><center>Disagree</center></th>
													<th><center>Strongly<br>Disagree</center></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Products</td>
													<td><center><input type="radio" name="q5" required value="1"></center></td>
													<td><center><input type="radio" name="q5" required value="2"></center></td>
													<td><center><input type="radio" name="q5" required value="3"></center></td>
													<td><center><input type="radio" name="q5" required value="4"></center></td>
													<td><center><input type="radio" name="q5" required value="5"></center></td>
												</tr>
												<tr>
													<td>Cost</td>
													<td><center><input type="radio" name="q6" required value="1"></center></td>
													<td><center><input type="radio" name="q6" required value="2"></center></td>
													<td><center><input type="radio" name="q6" required value="3"></center></td>
													<td><center><input type="radio" name="q6" required value="4"></center></td>
													<td><center><input type="radio" name="q6" required value="5"></center></td>
												</tr>
												<tr>
													<td>Accessibility</td>
													<td><center><input type="radio" name="q7" required value="1"></center></td>
													<td><center><input type="radio" name="q7" required value="2"></center></td>
													<td><center><input type="radio" name="q7" required value="3"></center></td>
													<td><center><input type="radio" name="q7" required value="4"></center></td>
													<td><center><input type="radio" name="q7" required value="5"></center></td>
												</tr>
												<tr>
													<td>Service</td>
													<td><center><input type="radio" name="q8" required value="1"></center></td>
													<td><center><input type="radio" name="q8" required value="2"></center></td>
													<td><center><input type="radio" name="q8" required value="3"></center></td>
													<td><center><input type="radio" name="q8" required value="4"></center></td>
													<td><center><input type="radio" name="q8" required value="5"></center></td>
												</tr>
											</tbody>
										</table>
									</div>

									<div class="table-responsive">
										<table id="table" class="table hover" style="width:100%">
											<thead>
												<tr>
													<th width="800"><center>Satisfaction</center></th>
													<th><center>Strongly<br>Agree</center></th>
													<th><center>Agree</center></th>
													<th><center>Somewhat<br>Agree</center></th>
													<th><center>Disagree</center></th>
													<th><center>Strongly<br>Disagree</center></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Do you experience any problems accessing the service of Liberty Insurance Corporation?</td>
													<td><center><input type="radio" name="q9" required value="1"></center></td>
													<td><center><input type="radio" name="q9" required value="2"></center></td>
													<td><center><input type="radio" name="q9" required value="3"></center></td>
													<td><center><input type="radio" name="q9" required value="4"></center></td>
													<td><center><input type="radio" name="q9" required value="5"></center></td>
												</tr>
												<tr>
													<td>How will you rate the satisfaction level of Liberty Insurance Corporation?</td>
													<td><center><input type="radio" name="q10" required value="1"></center></td>
													<td><center><input type="radio" name="q10" required value="2"></center></td>
													<td><center><input type="radio" name="q10" required value="3"></center></td>
													<td><center><input type="radio" name="q10" required value="4"></center></td>
													<td><center><input type="radio" name="q10" required value="5"></center></td>
												</tr>
												<tr>
													<td>Are you thinking of continuing your plan with Liberty Insurance Corporation?</td>
													<td><center><input type="radio" name="q11" required value="1"></center></td>
													<td><center><input type="radio" name="q11" required value="2"></center></td>
													<td><center><input type="radio" name="q11" required value="3"></center></td>
													<td><center><input type="radio" name="q11" required value="4"></center></td>
													<td><center><input type="radio" name="q11" required value="5"></center></td>
												</tr>
												<tr>
													<td>Would you recommend Liberty Insurance Corporation to others?</td>
													<td><center><input type="radio" name="q12" required value="1"></center></td>
													<td><center><input type="radio" name="q12" required value="2"></center></td>
													<td><center><input type="radio" name="q12" required value="3"></center></td>
													<td><center><input type="radio" name="q12" required value="4"></center></td>
													<td><center><input type="radio" name="q12" required value="5"></center></td>
												</tr>
											</tbody>
										</table>
									</div>
									</div>
									<div class="col-lg-12">
										<div class="form-group">
											<label>Comments:</label>
											<div class="input-group">
												<textarea name="comment" rows="2" class="form-control" minlength="5" maxlength="300" required></textarea>
											</div>
										</div>
									</div>
									<div class="col-lg-12" align="right">
										<button name="post_feedback" type="submit" value="Submit" class="btn button-md btn-block">SUBMIT FEEDBACK</button><hr>
										<center><center>
									</div>
									<div class="col-lg-12" align="center">
									<br>
									<label style="color: green;font-weight: 540;">
									</label>
									</div>
							</form>
</body>
</html>