{% extends "layouts/base.html" %} {% block title %} Update Policyholder {%
endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
          <div class="page-block">
            <div class="row align-items-center">
              <div class="col-md-12">
                <div class="page-header-title">
                  <h5 class="m-b-25" style="font-weight: 600"></h5>
                </div>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/"><i class="feather icon-home"></i></a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href='{{url_for("home_blueprint.custindex")}}'
                      >Policyholders</a
                    >
                  </li>
                  <li class="breadcrumb-item">
                    <a href="javascript:">Update Policyholder</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
          <div class="page-wrapper">
            <!-- [ Main Content ] start -->
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h5>Update Policyholder: {{ datas.agcode1 }}</h5>
                  </div>
                  <div class="card-block">
                    <div class="row">
                      <div class="col mx-auto">
                        <hr />
                        <form
                          method="post"
                         
                          action="{{url_for("home_blueprint.update",agcode1=datas.agcode1)}}">
                          <div class="row">
                            <div class="col form-group">
                              <label>Entry Date</label>
                              <input
                                type="date"
                                name="endate"
                                required
                                class="form-control"
                                placeholder="Enter Date..."
                                value="{{ datas.endate }}" />
                            </div>
                            <div class="col form-group">
                              <label>Assured ID</label>
                              <input
                                type="text"
                                name="agcode1"
                                required
                                placeholder="Enter Assured ID..."
                                class="form-control"
                                value="{{ datas.agcode1 }}" />
                            </div>
                            <div class="col form-group mb-3">
                              <label>Line</label>
                              <select
                                class="form-control"
                                name="line"
                                id="line"
                                readonly="true">
                                <option>MC</option>
                              </select>
                            </div>
                            <div class="col form-group mb-3">
                              <label>Branch</label>
                              <select
                                class="form-control"
                                name="branch"
                                id="branch"
                                value="{{ datas.branch }}">
                                {% for row in branches %}

                                <option value="{{ row.branch }}">
                                  {{ row.branch }}
                                </option>

                                {% endfor %}
                              </select>
                            </div>
                          </div>
                          <hr />
                          <div class="row">
                            <div class="col form-group">
                              <label>Policy Start Date</label>
                              <input
                                type="date"
                                name="idate"
                                required
                                class="form-control"
                                placeholder="Select Policy Start Date..."
                                value="{{ datas.idate }}" />
                            </div>
                            <div class="col form-group">
                              <label>Policy End Date</label>
                              <input
                                type="date"
                                name="edate"
                                required
                                class="form-control"
                                placeholder="Select Policy End Date..."
                                value="{{ datas.edate }}" />
                            </div>
                            <div class="col form-group mb-3">
                              <label>Policy Category</label>
                              <select
                                class="form-control"
                                name="pcategory"
                                id="ptype"
                                value="{{ datas.pcategory }}">
                                {% for data in pcategory %}

                                <option value="{{ data.pcategory }}">
                                  {{ data.pcategory }}
                                </option>

                                {% endfor %}
                              </select>
                            </div>
                            <div class="col form-group mb-3">
                              <label>Policy Type</label>
                              <select
                                class="form-control"
                                name="ptype"
                                id="ptype"
                                value="{{ datas.ptype }}">
                                {% for data in ptype %}

                                <option value="{{ data.ptype }}">
                                  {{ data.ptype }}
                                </option>

                                {% endfor %}
                              </select>
                            </div>
                          </div>
                          <hr />
                          <div class="row">
                            <div class="col form-group mb-3">
                              <label>Vehicle Use</label>
                              <select
                                class="col form-control"
                                name="vuse"
                                id="vuse"
                                value="{{ datas.vuse }}">
                                {% for data in vuse %}

                                <option value="{{ data.vuse }}">
                                  {{ data.vuse }}
                                </option>

                                {% endfor %}
                              </select>
                            </div>
                            <div class="col form-group mb-3">
                              <label>Vehicle Brand</label>
                              <input
                                type="text"
                                name="brand"
                                required
                                class="form-control"
                                placeholder="Enter Vehicle Maker..."
                                value="{{ datas.brand }}" />
                            </div>
                            <div class="col form-group mb-3">
                              <label>Vehicle Body Type</label>
                              <input
                                type="text"
                                name="body"
                                required
                                class="form-control"
                                placeholder="Enter Vehicle Type..."
                                value="{{ datas.body }}" />
                            </div>
                          </div>
                          <hr />
                          <div class="row">
                            <div class="col form-group mb-3">
                              <label>Vehicle Model Year</label>
                              <input
                                name="model"
                                required
                                class="form-control"
                                placeholder="Enter Vehicle Model..."
                                value="{{ datas.model }}" />
                            </div>
                            <div class="col form-group mb-3">
                              <label>Vehicle Color</label>
                              <input
                                type="text"
                                name="color"
                                required
                                class="form-control"
                                placeholder="Enter Vehicle Color..."
                                value="{{ datas.color }}" />
                            </div>
                            <div class="col form-group mb-3">
                              <label>Vehicle Transmission</label>
                              <select
                                class="form-control"
                                name="transmission"
                                id="transmission"
                                value="{{ datas.transmission }}">
                                {% for data in transmission %}

                                <option value="{{ data.transmission }}">
                                  {{ data.transmission }}
                                </option>

                                {% endfor %}
                              </select>
                            </div>
                            <div class="col form-group">
                              <label>Vehicle Fuel Type</label>
                              <select
                                class="col form-control"
                                name="fuel"
                                id="fuel"
                                value="{{ datas.fuel }}">
                                {% for data in fuel %}

                                <option value="{{ data.fuel }}">
                                  {{ data.fuel }}
                                </option>

                                {% endfor %}
                              </select>
                            </div>
                          </div>
                          <hr />
                          <div class="row">
                            <div class="col form-group">
                              <label>Premium</label>
                              <select
                                class="col form-control"
                                name="prem"
                                id="prem">
                                {% for data in premiumCost %}

                                <option value="{{ data.cost }}">
                                  {{ data.cost }}
                                </option>

                                {% endfor %}
                              </select>
                            </div>
                            <div class="col form-group">
                              <label>Status</label>
                              <select
                                class="col form-control"
                                name="status"
                                id="status">
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                              </select>
                            </div>
                            <div class="col my-4">
                              <input
                                type="submit"
                                value="Update"
                                class="btn btn-success" />
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- [ Main Content ] end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
